.input-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.input-container label {
	font-weight: bold;
	color: var(--color-text);
}

.input {
	font-family: var(--font-main);
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid var(--color-accent);
	background-color: #fff;
	font-size: 16px;
	color: var(--color-text);
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.input:focus {
	outline: none;
	border-color: var(--color-primary);
	box-shadow: 0 0 5px var(--color-primary);
}

body.dark-mode .input {
	background-color: var(--color-light);
	color: var(--color-text);
}
