.select-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.select-container label {
	font-weight: bold;
	color: var(--color-text);
}

.select {
	font-family: var(--font-main);
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid var(--color-accent);
	background-color: #fff;
	font-size: 16px;
	cursor: pointer;
	color: var(--color-text);
}

.select:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

body.dark-mode .select {
	background-color: var(--color-light);
	color: var(--color-text);
}
